* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: hsl(0, 0%, 100%);
}

/* HEADER */
.header {
    width: 100%;
    padding: 20px 60px;
    background: rgb(0, 0, 0);
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo span {
    color: #d4a055;
}
.nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.nav a.active {
    color: #ffffff;
    font-weight: 600;
}

/* CONTACT SECTION */
.contact-section {
    height: 100vh;
    background: url('images/BG.PNG') no-repeat center/cover;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
    margin-top: 80px;
}
.container {
    width: 70%;
    height: auto;
    max-width: 900px;
    background: #fff;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    color: #000000;
    margin-bottom: 40px;
}

.contact-box {
    display: flex;
    gap: 40px;
}

/* FORM */
.contact-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 15px;
    background: #fafafa;
}

.contact-form textarea {
    height: 140px;
    resize: none;
}

.contact-form button {
    padding: 14px;
    background: #000000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* CONTACT INFO */
.info p {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #000000;
    margin-bottom: 20px;
}

.icon {
    width: 30px;
    margin-right: 12px;
    font-weight: bold;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .contact-box {
        flex-direction: column;
    }
    .contact-form, .info {
        width: 100%;
    }
}
footer {
    padding: 20px;
    background: #000000;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}
